.search_additional_info{
	color:#8ba2ad;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding-bottom:12px;
}
.search_additional_info .service_class,
.search_additional_info .passenger,
.search_additional_info .currency{
	font-weight:bold;
	border-bottom:1px dotted #8ba2ad;
}

.ts_ag_carrier_matrix {
	position:relative;
}

.ts_ag_carrier_matrix table {
	border-collapse:collapse;
	border:none;
	margin:0 auto;
}

.ts_ag_carrier_matrix td {
	vertical-align:top;
}

.ts_ag_carrier_matrix td.legend{
	background-color: #f2f5f8;
	-webkit-box-shadow:inset 0 2px 3px rgba(139, 162, 173, 0.4);
	-mox-box-shadow:inset 0 2px 3px rgba(139, 162, 173, 0.4);
	box-shadow:inset 0 2px 3px rgba(139, 162, 173, 0.4);
}
.ts_ag_carrier_matrix td.legend table{ border:1px solid #c7cfd3; }

.ts_ag_carrier_matrix td.viewport {}

.ts_ag_carrier_matrix td.viewport div.viewport {
	background: #ffffff;
	background: -moz-linear-gradient(left,  #f2f3f4 0%, #ffffff 4%, #ffffff 96%, #f2f3f4 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f3f4), color-stop(4%,#ffffff), color-stop(96%,#ffffff), color-stop(100%,#f2f3f4));
	background: -webkit-linear-gradient(left,  #f2f3f4 0%,#ffffff 4%,#ffffff 96%,#f2f3f4 100%);
	background: -o-linear-gradient(left,  #f2f3f4 0%,#ffffff 4%,#ffffff 96%,#f2f3f4 100%);
	background: -ms-linear-gradient(left,  #f2f3f4 0%,#ffffff 4%,#ffffff 96%,#f2f3f4 100%);
	background: linear-gradient(to right,  #f2f3f4 0%,#ffffff 4%,#ffffff 96%,#f2f3f4 100%);

	border:1px solid #c7cfd3;
	-webkit-box-shadow:inset 0 0 8px rgba(139, 162, 173, 0.5);
	-moz-box-shadow:inset 0 0 8px rgba(139, 162, 173, 0.5);
	box-shadow:inset 0 0 8px rgba(139, 162, 173, 0.5);
	color: #005376;
	font-size: 11px;
	height:171px;
	margin-left:3px;
	overflow:hidden;
	position:relative;
	width:360px;
}

.ts_ag_carrier_matrix td.viewport div.viewport table {
	left:0;
	position:absolute;
	top:0;
}

.ts_ag_carrier_matrix .clickable {
	cursor:pointer;
}

.ts_ag_carrier_matrix .selected {
	cursor:default;
}

.ts_ag_carrier_matrix th{
	background-color:transparent;
	border-left:1px solid #c7cfd3;
	font-size:12px;
	font-weight:normal;
	height:42px;
	text-align: center;
}
.ts_ag_carrier_matrix tr th:first-child{ border-left:none; }
.ts_ag_carrier_matrix .legend th{
	font-size:12px;
	padding:1px 0 0;
	vertical-align:top;
	white-space:nowrap;
}

.ts_ag_carrier_matrix th.all_variants{
	padding:0;
	vertical-align:top;
}

.ts_ag_carrier_matrix .viewport th,
.ts_ag_carrier_matrix th.all_variants,
.ts_ag_carrier_matrix th.all_variants_info{
	/*border-top:1px solid #c7cfd3;*/
}

.ts_ag_carrier_matrix .legend th .arr{
	background:transparent url(img/arr_r_selected.png) 0 0 no-repeat;
	height:19px;
	display:none;
	margin-top: -9px;
	position:absolute;
	top:50%;
	right:-12px;
	width:12px;
	z-index:10;
}

.ts_ag_carrier_matrix .viewport th .arr{
	background:transparent url(img/arr_c_selected.png) 0 0 no-repeat;
	bottom:-10px;
	height:10px;
	display:none;
	left:50%;
	margin-left:-8px;
	position:absolute;
	width:16px;
	z-index:10;
}

.ts_ag_carrier_matrix th.logo {
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.ts_ag_carrier_matrix th.selected{
	background-color:#ffffff;
	color:#ec008c;
}

.ts_ag_carrier_matrix th .wrap{
	background:transparent;
	border:2px solid transparent;
	color:#005376;
	height:34px;
	padding:2px 15px;
	position:relative;
	text-align:left;
}

.ts_ag_carrier_matrix .legend th .wrap{
	height:34px;
	padding:2px 15px;
	vertical-align:top;
	width:90px;
}

.ts_ag_carrier_matrix .legend th.all_variants .wrap{
	height:18px;
	padding:10px 15px;
}

.ts_ag_carrier_matrix .legend th.info{
	background-color:#ffffff;
	color:#005376;
	height:34px;
	padding: 8px 20px;
	vertical-align:middle;
	width:70px;
}

.ts_ag_carrier_matrix th.all_variants_info{
	background-color:#e8ecef;
}

.ts_ag_carrier_matrix .legend th .wrap .label{
	border-bottom:1px dotted #005376;
	color:#005376;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
}

.ts_ag_carrier_matrix .legend th .wrap .min_price{
	color:#8ba2ad;
	display:block;
	font-size:11px;
	font-weight:normal;
	line-height:16px;
}

/*
.ts_ag_carrier_matrix .legend th.info .min_price{
	font-size:14px;
	font-weight:bold;
	line-height:18px;
}

.ts_ag_carrier_matrix .legend th.info .count{
	font-size:11px;
	font-weight:normal;
	line-height:15px;
}
*/
.ts_ag_carrier_matrix th.selected .wrap{
	border-color:#79d200;
	color:#ec008c;
}
.ts_ag_carrier_matrix .legend th.selected { background-color:transparent; }
.ts_ag_carrier_matrix .legend th.selected .wrap{
	background-color: #ffffff;
}

.ts_ag_carrier_matrix .legend th.selected .wrap .label{
	border-color:#fff;
	color:#ec008c;
	font-weight:bold;
}

.ts_ag_carrier_matrix .legend th.selected .wrap .min_price{
	color:#ec008c;
}

.ts_ag_carrier_matrix .legend th.selected.info {
	background-color:#BDE5F6;
	color:#005376;
}

.ts_ag_carrier_matrix th.selected .arr{
	display:block;
}

html.msie7 .ts_ag_carrier_matrix th.selected .arr{
	display:none;	
}

.ts_ag_carrier_matrix th .wrap .label{
	border-bottom: 1px dotted #005376;
	color:#005376;
	cursor: pointer;
	display: inline;
	font-size:12px;
	line-height:16px;
}

.ts_ag_carrier_matrix th.selected .wrap .label{
	border-color:#fff;
	color:#ec008c;
	font-weight:bold;
}

.ts_ag_carrier_matrix th .wrap .count{
	color:#8ba2ad;
	display:block;
	font-size:11px;
	font-weight:normal;
	line-height:15px;
}

.ts_ag_carrier_matrix th.selected .wrap .count{
	color:#ec008c;
}

.ts_ag_carrier_matrix th.diff_carriers .wrap {
	padding:2px 1px;
	text-align:center;
}

.ts_ag_carrier_matrix th.diff_carriers .wrap .carrier-more {
	background:transparent url(img/logo-different.gif) no-repeat left center;
	display:inline-block;
	line-height:16px;
	padding-left:30px;
	text-align:left;
}

html.msie7 .ts_ag_carrier_matrix th.diff_carriers .wrap span.carrier-more{
	display:inline;
}

.ts_ag_carrier_matrix td.viewport td{
	background:transparent url(img/empty_bg.png) repeat;
	border:solid #c7cfd3;
	border-width:1px 1px 0 0;
	height:42px;
	vertical-align:middle;
}
.ts_ag_carrier_matrix td.viewport tr:first-child td{ border-top:none; }
.ts_ag_carrier_matrix td.viewport td.clickable{
	background-image: none;
}

.ts_ag_carrier_matrix td.viewport td.selected{}

.ts_ag_carrier_matrix td.viewport .highlighted td,
.ts_ag_carrier_matrix td.viewport td.highlighted {
	background-color:#d7f1b2;
	background-color: rgba(121,210,0,.3);
}

.ts_ag_carrier_matrix td.viewport td .wrap{
	border:2px solid transparent;
	color:#005376;
	height:18px;
	font-size:14px;
	padding:10px 20px;
	text-align:center;
	white-space:nowrap;
}
.ts_ag_carrier_matrix td.viewport td .count{ display:none; }
.ts_ag_carrier_matrix td.viewport td .wrap > *{
	line-height: 18px;
	vertical-align: top;
}
.ts_ag_carrier_matrix td.viewport td div.radio{ margin-right:20px; }
.ts_ag_carrier_matrix td.viewport td div.radio span{ background-position: -18px 0; }
.ts_ag_carrier_matrix td.viewport td.selected div.radio span{ background-position: -36px 0; }
.ts_ag_carrier_matrix td.viewport td .min_price{
	color:#005376;
	font-size:14px;
	font-weight:normal;
}
/*
.ts_ag_carrier_matrix td.viewport td.selected .wrap{ border-color:#8DC63F; }
.ts_ag_carrier_matrix td.viewport .highlighted td .wrap,
.ts_ag_carrier_matrix td.viewport td.highlighted .wrap{ border-color:#bde5f6; }

.ts_ag_carrier_matrix td.viewport td.selected .wrap .min_price{}
.ts_ag_carrier_matrix td.viewport td.min{ background-color:#25aae2; }
.ts_ag_carrier_matrix td.viewport td.min .wrap{ border-color:#25aae2; }
.ts_ag_carrier_matrix td.viewport td.selected.min .wrap{ border-color:#ec008c; }
.ts_ag_carrier_matrix td.viewport td.min .wrap .min_price{
	color:#fff;
	font-weight:bold;
}
*/

.ts_ag_carrier_matrix td.viewport div.viewport tr.spacer td {
	background: none;
	border:none;
	font-size:1px;
	height:auto;
	line-height:1px;
	vertical-align:top;
}

.ts_ag_carrier_matrix td.viewport div.viewport div.container {
	overflow:hidden;
}

.ts_ag_carrier_matrix .page_selector {
	height:25px;
	padding:8px 0 0;
	vertical-align:middle;
	text-align:center;
}
.ts_ag_carrier_matrix .page_selector .nav {
	display:inline-block;
	height:25px;
	vertical-align:middle;
	width:20px;
}

.ts_ag_carrier_matrix .page_selector .active{
	cursor:pointer;
}

.ts_ag_carrier_matrix .page_selector .nav span{
	background:transparent url(img/nav.png) 0 0 no-repeat;
	display:block;
	height:25px;
	width:20px;
}

html.msie7 .ts_ag_carrier_matrix .page_selector .nav {
	display:inline;
}

.ts_ag_carrier_matrix .page_selector .nav .nav-prev{
	background-position:0 0;
}

.ts_ag_carrier_matrix .page_selector .nav .nav-next{
	background-position:100% 0;
}

.ts_ag_carrier_matrix .page_selector .active .nav-prev{
	background-position:-20px 0;
}

.ts_ag_carrier_matrix .page_selector .active .nav-next{
	background-position:-40px 0;
}

.ts_ag_carrier_matrix .page_selector .page{
	background: #9ba9b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #9ba9b4 0%, #d3dae0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ba9b4), color-stop(100%,#d3dae0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9ba9b4 0%,#d3dae0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9ba9b4 0%,#d3dae0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9ba9b4 0%,#d3dae0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9ba9b4 0%,#d3dae0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ba9b4', endColorstr='#d3dae0',GradientType=0 ); /* IE6-9 */
	
	cursor:pointer;
	display:inline-block;
	margin:0 7px;
	padding:1px;
	vertical-align:middle;
}

html.msie7 .ts_ag_carrier_matrix .page_selector .page{
	display:inline;
}

.ts_ag_carrier_matrix .page_selector .page span{
	background:#dbe0e2;
	-webkit-box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
	-moz-box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
	box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
	
	display:block;
	height:11px;
	width:11px;
}

.ts_ag_carrier_matrix .page_selector .page.selected{
	background: #e75bd2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e75bd2 0%, #9d005d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e75bd2), color-stop(100%,#9d005d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e75bd2 0%,#9d005d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e75bd2 0%,#9d005d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e75bd2 0%,#9d005d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e75bd2 0%,#9d005d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75bd2', endColorstr='#9d005d',GradientType=0 ); /* IE6-9 */
	cursor:default;
}

.ts_ag_carrier_matrix .page_selector .page.selected span{
	background:#f60092;
	-webkit-box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
	-moz-box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
	box-shadow:inset 0 2px 4px rgba(155,161,164,.43);
}