/*  –¿“ ¿ﬂ ‘Œ–Ã¿ */
#ts_ag_quick_reservation_form .form_wrap{
  background: #fab414;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin: 0;
  min-width:768px;
  padding:0 15px;
  width: 100%;
}
#ts_ag_quick_reservation_form .form_wrap .form-order{
  margin: 0 auto;
  max-width: 1330px;
  padding:10px 5px; 
} /*¡ÎÓÍ ÙÓÏ˚*/


#ts_ag_quick_reservation_form .form-order .main_fields{  float:left; }
#ts_ag_quick_reservation_form .form-order .add_fields{ clear:left; }

#ts_ag_quick_reservation_form .form-order .route-types{
  clear:both;
  padding-bottom:7px;
}
#ts_ag_quick_reservation_form .form-order .route-types .type{
  border-bottom:1px dashed;
  color:#303030;
  cursor: pointer;
  display: inline-block;
  font-size:11px;
  margin-right:25px;
  text-transform: uppercase;
  vertical-align: top;
}
#ts_ag_quick_reservation_form .form-order .route-types .selected{
  border-bottom:none;
  cursor: default;
  font-weight:bold;
}

#ts_ag_quick_reservation_form .form-order .route,
#ts_ag_quick_reservation_form .form-order .dates,
#ts_ag_quick_reservation_form .form-order .point,
#ts_ag_quick_reservation_form .form-order .date { float:left; }
#ts_ag_quick_reservation_form .form-order .route { padding:0 1em 10px 0; }
#ts_ag_quick_reservation_form .form-order .dates{ padding-bottom:10px; }

#ts_ag_quick_reservation_form .form-order input[type="text"],
#ts_ag_quick_reservation_form .form-order .date_formated{
  background: #ffffff;
  border:1px solid #c89010;
  color:#000000;
  display: block;
  font-size:15px;
  font-weight:bold;
  height: 21px;
  padding:6px 20px 6px 5px;
  position: relative;
}
#ts_ag_quick_reservation_form .form-order select{
  border:1px solid #c89010;
  color:#000000;
  display: block;
  font-size:15px;
  font-weight:bold;
  height: 35px;
  padding:6px 2px;
  position: relative;
}

#ts_ag_quick_reservation_form .form-order .route_switch{
  cursor: pointer;
  height:35px;
  position: relative;
  width:32px;
}
#ts_ag_quick_reservation_form .form-order .route_switch:before,
#ts_ag_quick_reservation_form .form_rt .route_switch:after{ 
  color:#000000;
  content:'\2192';
  display:block;
  left:0;
  line-height:35px;
  position: absolute;
  text-align: center;
  top:0;
  width:32px;
}
#ts_ag_quick_reservation_form .form_rt .route_switch:before{ line-height: 29px; }
#ts_ag_quick_reservation_form .form_rt .route_switch:after{
  bottom:0;
  content:'\2190';
  line-height: 29px;
  top:auto;
}

#ts_ag_quick_reservation_form .form-order .location,
#ts_ag_quick_reservation_form .form-order .date-container{ position:relative; }

#ts_ag_quick_reservation_form .form-order .point input { font-size:18px; width:220px; }
#ts_ag_quick_reservation_form .form-order .point input.placeholder_input{
  color:#b1b1b1;
  font-size:15px;
}
#ts_ag_quick_reservation_form .form-order .point input.ac_loading{
  background:#ffffff url(images/loader.white.gif) right 5px center no-repeat;
}
html.safari #ts_ag_quick_reservation_form .form-order .point input.ac_loading{
  background:#ffffff url(images/loader.white.gif) 98% 50% no-repeat;
}

#ts_ag_quick_reservation_form .form-order .location .link-container{
  background:url(images/point.png) 50% 50% no-repeat;
  cursor: pointer; 
  display: block;
  height:35px;
  overflow: hidden;
  position: absolute;
  right:1px;
  text-indent: 100px;
  top:1px;
  width:20px;
}

#ts_ag_quick_reservation_form .form-order .date_to{
  padding-right:23px;
  position:relative;
}
#ts_ag_quick_reservation_form .form-order .date_to:after{
  color:#000000;
  content: '\2013';
  display: block;
  line-height:35px;
  position: absolute;
  right: 0;
  text-align: center;
  top:0;
  width:23px;
}

#ts_ag_quick_reservation_form .form-order .add_dateback{
  border:1px dashed #a76c00;
  color:#a86d00;
  cursor: pointer;
  display: inline-block;
  font-size:12px;
  height: 21px;
  line-height: 21px;
  padding:6px 10px;
}
#ts_ag_quick_reservation_form .form-order #dateto,
#ts_ag_quick_reservation_form .form-order #dateback{
  background:transparent;
  border:0;
  font-size: 0;
  height:0;
  line-height: 0;
  padding: 0;
  position: absolute;
}
#ts_ag_quick_reservation_form .form_ow #form_dateback,
#ts_ag_quick_reservation_form .form_rt .add_dateback{ display: none; }

#ts_ag_quick_reservation_form .form-order .date input,
#ts_ag_quick_reservation_form .form-order .date_formated { 
  text-transform: lowercase;
  width:90px;
}
#ts_ag_quick_reservation_form .form-order .date_formated {
  padding-top:8px;
  padding-bottom:4px;
}
#ts_ag_quick_reservation_form .form-order .date_formated .dow{ font-weight:normal; }
#ts_ag_quick_reservation_form .form-order .date-container img{
  cursor: pointer;
  position: absolute;
  right:6px;
  top:11px;
  z-index: 2;
}
#ts_ag_quick_reservation_form .form-order .date_formated:after{
  border-right:10px solid transparent;
  border-left:10px solid transparent;
  border-bottom:10px solid #333333;
  content: '';
  display: none;
  height:0;
  position: absolute;
  right:2px;
  top:26px;
  width:0;
  z-index: 2;

  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}
#ts_ag_quick_reservation_form .form-order .active .date_formated:after{ display:block; }
#ts_ag_quick_reservation_form .form-order .title{
  color:#666666;
  display: block;
  font-size:11px;
  font-weight:normal;
  padding-bottom:2px;
}

#ts_ag_quick_reservation_form .form-order .passengers,
#ts_ag_quick_reservation_form .form-order .preferences{ 
  float:left;
}
#ts_ag_quick_reservation_form .form-order .passengers{ 
  margin-right:25px;
  clear:left;
  width:255px;
}
#ts_ag_quick_reservation_form .form-order .passenger{
  float:left;
  position:relative;
  width:85px;
}
#ts_ag_quick_reservation_form .form-order .passenger:before{
  background: url(images/passengers.png) 0 100% no-repeat;
  bottom:0;
  content: '';
  display: block;
  height:35px;
  left:0;
  position: absolute;
  width:25px;
}
#ts_ag_quick_reservation_form .form-order .adult:before{ background-position: 0 100%; }
#ts_ag_quick_reservation_form .form-order .child:before{ background-position: -25px 100%; }
#ts_ag_quick_reservation_form .form-order .infant:before{ background-position: -50px 100%; }
#ts_ag_quick_reservation_form .form-order .passenger .select_wrap{
  margin-left:25px;
  position: relative;
}
#ts_ag_quick_reservation_form .form-order .passenger .select_wrap .count{
  background:#ffffff;
  border:1px solid #c89010;
  display: block;
  height:23px;
  line-height: 23px;
  font-size: 15px;
  font-weight:bold;
  padding:5px;
  position: relative;
  width: 33px;
}
#ts_ag_quick_reservation_form .form-order .passenger .select_wrap .count:after{
  border-top:5px solid #000000;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  content:'';
  display: block;
  height:0;
  position: absolute;
  right:5px;
  top:14px;
  width:0;
}
#ts_ag_quick_reservation_form .form-order .passenger select{
  border:none;
  height:35px;
  left:0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top:0;
  width:45px;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  filter: alpha(opacity=0);
}

#ts_ag_quick_reservation_form .form-order .preference{ 
  float:left;
  margin-right:20px;
}
#ts_ag_quick_reservation_form .form-order .class .service_class_title{
  background:transparent url(images/radios.png) 0 50% no-repeat;
  color:#333333;
  cursor: pointer;
  display: inline-block;
  font-size:12px;
  font-weight:normal;
  height:14px;
  line-height: 14px;
  margin:14px 0 0 20px;
  padding-left:20px;
  vertical-align: middle;
}
#ts_ag_quick_reservation_form .form-order .class .economy{ margin-left: 0; }
#ts_ag_quick_reservation_form .form-order .class .selected{ background-image: url(images/radios_sel.png); }
html.msie7 #ts_ag_quick_reservation_form .form-order .class .service_class_title{ display:block; float:left; }
#ts_ag_quick_reservation_form .form-order .company select{ max-width: 193px; }
#ts_ag_quick_reservation_form .form-order .direct{ padding-top:26px; }
#ts_ag_quick_reservation_form .form-order .direct .title{ 
  color:#333333;
  cursor: pointer;
  display: inline-block;
  font-size:12px;
  font-weight:normal;
  padding-left: 5px;
  vertical-align: middle;
}
#ts_ag_quick_reservation_form .form-order .submit {
  background: #bababa;
  background: -moz-linear-gradient(top,  #e7e7e7 0%, #bababa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#bababa));
  background: -webkit-linear-gradient(top,  #e7e7e7 0%,#bababa 100%);
  background: -o-linear-gradient(top,  #e7e7e7 0%,#bababa 100%);
  background: linear-gradient(to bottom,  #e7e7e7 0%,#bababa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#bababa',GradientType=0 );
  float:right;
  padding:1px;
}
#ts_ag_quick_reservation_form .form-order .submit.clone{ display:none; }
#ts_ag_quick_reservation_form .form-order .submit .button{
  background: #f0efef;
  background: -moz-linear-gradient(top, #f0efef 0%, #dcdcdd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0efef), color-stop(100%,#dcdcdd));
  background: -webkit-linear-gradient(top, #f0efef 0%,#dcdcdd 100%);
  background: -o-linear-gradient(top, #f0efef 0%,#dcdcdd 100%);
  background: -ms-linear-gradient(top, #f0efef 0%,#dcdcdd 100%);
  background: linear-gradient(to bottom, #f0efef 0%,#dcdcdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0efef', endColorstr='#dcdcdd',GradientType=0 );

  border:none;
  color:#000000;
  cursor: pointer;
  display: inline-block;
  font-size:12px;
  font-weight:bold;
  height:33px;
  min-width:125px;
  overflow: visible;
  padding: 5px;

  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.msie9 #ts_ag_quick_reservation_form .form-order .submit,
html.msie9 #ts_ag_quick_reservation_form .form-order .submit .button{width:125px;}

/*  ‡ÎÂÌ‰‡¸ */
.ui-datepicker{
  background: #ffffff;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
  border:1px solid #cfcfcf;
  border:1px solid rgba(0,0,0,.2);
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 1px 4px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.5);
  box-shadow: inset 1px 1px 4px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.5);
  font-family:Arial, Helvetica, sans-serif;
  padding:0;
  width:342px;
}

.ui-datepicker-multi-2{ width:686px !important; }
.ui-datepicker-multi-2 .ui-datepicker-group{ width: 342px; }
.ui-datepicker-multi-2 .ui-datepicker-group-last { width: 344px; }

.ui-datepicker .ui-datepicker-header{
  background: #333333;
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  padding:15px 0;
}
.ui-datepicker .ui-datepicker-title{
  height:17px;
  line-height: 17px;
  margin:0 25px;
}
.ui-datepicker .ui-datepicker-title select{
  -webkit-appearance:none;
  background: transparent; 
  border:none;
  margin-top:-4px;
  width: 40%; 
}
.ui-datepicker .ui-datepicker-month{
  color:#fffefe;
  font-size:15px;
  font-weight:bold;
  text-align: right;
  width: auto;
}
.ui-datepicker .ui-datepicker-year{
  color:#999999;
  font-size:15px;
  font-weight:bold;
  text-align: left;
  width: auto;
}
.ui-datepicker select.ui-datepicker-year{ padding-left:10px; } 
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next{
  background: none;
  border:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  height:43px;
  top:2px;
  width:25px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{
  background: transparent url(images/calendar_arrs.png) 0 50% no-repeat;
  display: block;
  height:13px;
  margin:-7px 0 0 -4px;
  width:9px;
}
.ui-datepicker .ui-datepicker-next span{ background-position: 100% 50%; }
.ui-datepicker .ui-datepicker-prev-hover, 
.ui-datepicker .ui-datepicker-next-hover{ top:2px; }

.ui-datepicker table,
.ui-datepicker-multi .ui-datepicker-group table{
  margin: 0;
  width:100%;
}

.ui-datepicker th{
  background: #333333;
  background: -moz-linear-gradient(top,  #333333 0%, #1e1e1e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#1e1e1e));
  background: -webkit-linear-gradient(top,  #333333 0%,#1e1e1e 100%);
  background: -o-linear-gradient(top,  #333333 0%,#1e1e1e 100%);
  background: -ms-linear-gradient(top,  #333333 0%,#1e1e1e 100%);
  background: linear-gradient(to bottom,  #333333 0%,#1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1e1e1e',GradientType=0 );
  border:none;
  color:#999999;
  font-size:10px;
  font-weight:normal;
  line-height: 10px;
  padding:4px;
  text-align: center;
  text-transform: uppercase;
}
html.opera .ui-datepicker-multi-2 .ui-datepicker-group-last th:first-child{ border-left:2px solid #333333; }
.ui-datepicker th.ui-datepicker-week-end{ color:#eb4675; }

.ui-datepicker td{
  border:1px solid #e6e6e6;
  padding: 0;
  vertical-align: middle;
}
.ui-datepicker td:first-child{ border-left-width:0; }
.ui-datepicker td:last-child{ border-right-width:0; }
.ui-datepicker tr:last-child td{ border-borrom-width:0; }
.ui-datepicker-multi-2 .ui-datepicker-group-last td:first-child{
  border-left:2px solid #999999 !important;
  /*height:48px;*/
}
.ui-datepicker td.ui-state-disabled.ui-datepicker-other-month{
  border:none;
  font-size:0;
}
.ui-datepicker tr:first-child td.ui-state-disabled.ui-datepicker-other-month{ 
  border:solid #e6e6e6;
  border-width:1px 1px 1px 0;
}

.ui-datepicker td .ui-state-default,
.ui-datepicker td span,
.ui-datepicker td a{
  background: none;
  border:none;
  color:#333333;
  font-size:18px;
  font-weight:bold;
  height:48px;
  line-height: 48px;
  padding:0;
  text-align: center;
  width:48px;
}
.ui-datepicker td.ui-datepicker-week-end span, 
.ui-datepicker td.ui-datepicker-week-end a{ color:#333333; }
.ui-datepicker td .ui-state-active,
.ui-datepicker td.ui-datepicker-week-end .ui-state-active{
  background: #00C5CB;
  color:#ffffff;
  font-size:12px;
  font-weight:normal;
  height: 45px;
  line-height:normal;
  padding:3px 0 0 3px;
  text-align: left;
  vertical-align: top;
  width:45px;
}
#ui-datepicker-div.dateto .ui-state-active{ background: #00C5CB url(images/dateto.png) 50% 50% no-repeat; }
#ui-datepicker-div.dateback .ui-state-active{ background: #FFB433 url(images/dateback.png) 50% 50% no-repeat; }

@media (min-width: 1025px) {
  #ts_ag_quick_reservation_form .form-order .add_fields,
  #ts_ag_quick_reservation_form .form-order .add_fields .passengers,
  #ts_ag_quick_reservation_form .form-order .route,
  #ts_ag_quick_reservation_form .form-order .route .point,
  #ts_ag_quick_reservation_form .form-order .route .point input{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  #ts_ag_quick_reservation_form .form-order .route{ width:55%; }
  #ts_ag_quick_reservation_form .form-order .route .point{ width:46%; }
  #ts_ag_quick_reservation_form .form-order .route .route_switch { width: 7%; }
  #ts_ag_quick_reservation_form .form-order .route .route_switch:before,
  #ts_ag_quick_reservation_form .form-order .route .route_switch:after{ width:100%; }
  #ts_ag_quick_reservation_form .form-order .route .point input{
    height:35px;
    width:100%;
  }
  #ts_ag_quick_reservation_form .form-order .add_fields{
    padding-right:1em;
    width:55%;
  }
  #ts_ag_quick_reservation_form .form-order .add_fields .passengers{
    margin-right: 3%;
    width:50%;
  }
}
@media (max-width: 979px) {
  #ts_ag_quick_reservation_form .form-order .add_fields,
  #ts_ag_quick_reservation_form .form-order .route,
  #ts_ag_quick_reservation_form .form-order .route .point,
  #ts_ag_quick_reservation_form .form-order .route .point input{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  #ts_ag_quick_reservation_form .form-order .route{ width:62%; }
  #ts_ag_quick_reservation_form .form-order .route .point{ width:46%; }
  #ts_ag_quick_reservation_form .form-order .route .route_switch { width: 7%; }
  #ts_ag_quick_reservation_form .form-order .route .route_switch:before,
  #ts_ag_quick_reservation_form .form-order .route .route_switch:after{ width:100%; }
  #ts_ag_quick_reservation_form .form-order .route .point input{ height:35px; width:100%; }
  #ts_ag_quick_reservation_form .form-order .add_fields{ float:left; padding-right:1em; width:62%; }
  #ts_ag_quick_reservation_form .form-order .class{ margin-right: 0; }
  #ts_ag_quick_reservation_form .form-order .submit { display:none; }
  #ts_ag_quick_reservation_form .form-order .submit.clone { display:block; float:left; margin-left:140px; }
}
@media (min-width: 768px) {
  .ui-datepicker-multi-2{
    left:50% !important;
    margin-left:-300px !important;
  }
}