.cl{ clear:both; }
.best-offers{ margin-bottom:15px;}
.best-offers table{ width:100%; }
.best-offers table td{ vertical-align: top; }
.best-offers td.best-offer,
.best-offers td.hr,
.best-offers td.price{
  border:solid #d4d4d4;
  border-width: 0 1px;
  width:49%;
}
.best-offers .best-offer.even{ }
.best-offers .best-offer.odd{ }

.best-offers .best-offer .profile-name{
  background: #00C5CB;
  color:#ffffff;
  font-size:22px;
  font-weight:normal;
  margin: 0 -1px;
  padding:15px 15px 15px 60px;
  text-align: left;
}

.best-offers .low_cost .profile-name{ background: #00C5CB url(img/lowcost.png) 19px 50% no-repeat; }
.best-offers .fastest .profile-name{ background: #FFB433 url(img/fastest.png) 19px 50% no-repeat; }

.best-offers .best-offer .info{ margin:0 20px; }

.best-offers .best-offer .info table .caption {
  color:#666666;
  font-size:15px;
  font-weight:bold;
  padding: 7px 0 3px;
  text-align: left;
}
.best-offers .best-offer .info .inbound .caption{ border-top:1px solid; }
.best-offers .low_cost .info .inbound .caption{ border-top-color: #00C5CB; }
.best-offers .fastest .info .inbound .caption{ border-top-color: #FFB433; }

.best-offers .best-offer .info table td{
  color:#333333;
  font-size:13px;
  font-weight:normal;
  padding: 2px 0;
  text-align: right;
  vertical-align: top;
}
.best-offers .best-offer .info table td:first-child{ text-align: left; }
.best-offers .best-offer .info table td > div{ padding-bottom:3px; }
.best-offers .best-offer .info .dep_time{
  font-size:18px;
  font-weight:bold;
}
.best-offers .best-offer .info .time{ padding-bottom:2px; }
.best-offers .best-offer .info .companies{
  color:#666666;
  font-size:13px;
  font-weight:bold;
  padding-top:5px;
}
.best-offers .best-offer .info .duration{ margin-right:7px; }
.best-offers .best-offer .info .seats{ color:#FF0066; }
.best-offers .best-offer .info .companies .company,
.best-offers .best-offer .info .plane{ text-transform: capitalize; }

.best-offers td.price{
  border-bottom-width:1px;
  padding:0 20px 8px;
  text-align: center;
  vertical-align: bottom;
}

.best-offers td.hr > div{
  border-top:4px solid;
  line-height: 1.2;
  margin:3px 20px 0;
  min-height: 8px;
  padding:0;
  position: relative;
  text-align: left;
}
.best-offers td.hr.low_cost > div{ border-top-color: #00C5CB; }
.best-offers td.hr.fastest > div{ border-top-color: #FFB433; }
.best-offers td.hr .goto-offer { padding-bottom:5px; }
#ts_ag_reservation .best-offers td.hr .goto-offer  a{
  border-bottom:1px dashed;
  color:#00309d;
  font-size:11px;
  text-decoration: none;
}


